location /static/ {
    alias /home/app/backend/staticfiles/;
    add_header Access-Control-Allow-Origin *;
}

location /media/ {
    alias /home/app/backend/mediafiles/;
    add_header Access-Control-Allow-Origin *;
}
